---
import { db, Group, asc } from "astro:db";
import Layout from "../../layouts/Layout.astro";

const groups = await db.select().from(Group).orderBy(asc(Group.circle));
---

<Layout>
  <ul>
    {
      groups.map(({ circle, name, id }) => (
        <li>
          <a href={"/groups/" + id}>
            circle {circle} - group {name}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
