---
import { Student, db, Group, StudentGroup, Circle } from "astro:db";

const students = await db.select().from(Student);
const groups = await db.select().from(Group);
const circle = await db.select().from(Circle);
const studentGroup = await db.select().from(StudentGroup);

console.log({ studentGroup });
---

<h1>Students Page</h1>
<!-- Here we will fetch all users data as a cards/table -->
<ul>
  {
    students.map((student) => (
      <li>
        <a href={"/student/" + student.id}>
          <pre>{JSON.stringify(student, null, 2)}</pre>
        </a>
      </li>
    ))
  }
</ul>
