---
import { Student, db } from "astro:db";

const students = await db.select().from(Student);
---

<h1>Students Page</h1>
<!-- Here we will fetch all users data as a cards/table -->
<ul>
  {
    students.map((student) => (
      <li>
        <a href={"/student/" + student.id}>
          <pre>{JSON.stringify(student, null, 2)}</pre>
        </a>
      </li>
    ))
  }
</ul>
