---
import { eq } from "astro:db";
import { Student, db, Group, StudentGroup, Circle } from "astro:db";

const students = await db
  .select({ Student, Group })
  .from(Student)
  .innerJoin(StudentGroup, eq(Student.id, StudentGroup.studentId))
  .innerJoin(Group, eq(Group.id, StudentGroup.groupId));
---

<h1>Students Page</h1>
<!-- Here we will fetch all users data as a cards/table -->
<ul>
  {
    students.map(({ Student: student, Group: group }) => (
      <li>
        <a href={"/student/" + student.id} style="text-decoration:none;">
          <pre>{JSON.stringify({ student, group }, null, 2)}</pre>
        </a>
      </li>
    ))
  }
</ul>
